NEXT_PUBLIC_WORDPRESS_GRAPHQL_URL=https://wpmibyo.otemae-osu.com/graphql
# Optional: only needed if the WordPress site is protected by Basic Auth
WORDPRESS_GRAPHQL_BASIC_AUTH_USER=
WORDPRESS_GRAPHQL_BASIC_AUTH_PASSWORD=
